.y-axis-label, .x-axis-label {  
  font-size: 12px;
  color: #FFdddd;
}

#logo { width: 60px; height: 40px;  vertical-align: baseline; margin-right: 10px; }

path {
  pointer-events:all;
}

#categories-year-chart path:hover { stroke-width: 3px; }
#evolution-year-chart path:hover { stroke-width: 3px; }

p { margin: 0px; 0px; }

div.dc-chart {
  float: left;
}

.dc-chart rect.bar {
  stroke: none;
  cursor: pointer;
}

.dc-chart rect.bar:hover {
  fill-opacity: .5;
}

.dc-chart rect.stack1 {
  stroke: none;
  fill: red;
}

.dc-chart rect.stack2 {
  stroke: none;
  fill: green;
}

.dc-chart rect {
  stroke-width: 1;
  stroke: rgba(0,0,0,0);
}
.dc-chart rect.selected {
  stroke: rgba(0,0,0,0.5);
}

.dc-chart .empty-chart .pie-slice path {
  fill: #FFEEEE;
  cursor: default;
}

.dc-chart .empty-chart .pie-slice {
  cursor: default;
}

.dc-chart .pie-slice {
  fill: white;
  font-size: 12px;
  cursor: pointer;
}

.dc-chart .pie-slice.external{
  fill: black;
}

.dc-chart .pie-slice :hover {
  fill-opacity: .8;
}

.dc-chart .pie-slice.highlight {
  fill-opacity: .8;
}

.dc-chart .selected path {
  stroke-width: 3;
  stroke: #ccc;
  fill-opacity: 1;
}

.dc-chart .deselected path {
  stroke: none;
  fill-opacity: .5;
  fill: #ccc;
}

.dc-chart .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dc-chart .axis text {
  font: 10px sans-serif;
}

.dc-chart .grid-line {
  fill: none;
  stroke: #ccc;
  opacity: .5;
  shape-rendering: crispEdges;
}

.dc-chart .grid-line line {
  fill: none;
  stroke: #ccc;
  opacity: .5;
  shape-rendering: crispEdges;
}

.dc-chart .brush rect.background {
  z-index: -999;
}

.dc-chart .brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.dc-chart .brush .resize path {
  fill: #eee;
  stroke: #666;
}

.dc-chart path.line {
  fill: none;
  stroke-width: 1.5px;
}

.dc-chart circle.dot {
  stroke: none;
}

.dc-chart g.dc-tooltip path {
  fill: none;
  stroke: grey;
  stroke-opacity: .8;
}

.dc-chart path.area {
  fill-opacity: .3;
  stroke: none;
}

.dc-chart .node {
  font-size: 0.7em;
  cursor: pointer;
}

.dc-chart .node :hover {
  fill-opacity: .8;
}

.dc-chart .selected circle {
  stroke-width: 3;
  stroke: #ccc;
  fill-opacity: 1;
}

.dc-chart .deselected circle {
  stroke: none;
  fill-opacity: .5;
  fill: #ccc;
}

.dc-chart .bubble {
  stroke: none;
  fill-opacity: 0.6;
}

.dc-data-count {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.dc-data-count .filter-count {
  color: #3182bd;
  font-weight: bold;
}

.dc-data-count .total-count {
  color: #3182bd;
  font-weight: bold;
}

.dc-chart g.state {
  cursor: pointer;
}

.dc-chart g.state :hover {
  fill-opacity: .8;
}

.dc-chart g.state path {
  stroke: white;
}

.dc-chart g.selected path {
}

.dc-chart g.deselected path {
  fill: grey;
}

.dc-chart g.selected text {
}

.dc-chart g.deselected text {
  display: none;
}

.dc-chart g.county path {
  stroke: white;
  fill: none;
}

.dc-chart g.debug rect {
  fill: blue;
  fill-opacity: .2;
}

.dc-chart g.row rect {
  fill-opacity: 0.8;
  cursor: pointer;
}

.dc-chart g.row rect:hover {
  fill-opacity: 0.6;
}

.dc-chart g.row text {
  fill: white;
  font-size: 12px;
  cursor: pointer;
}

.dc-legend {
  font-size: 11px;
}

.dc-legend-item {
  cursor: pointer;
}

.dc-chart g.axis text {
  /* Makes it so the user can't accidentally click and select text that is meant as a label only */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 */
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dc-chart path.highlight {
  stroke-width: 3;
  fill-opacity: 1;
  stroke-opacity: 1;
}

.dc-chart .highlight {
  fill-opacity: 1;
  stroke-opacity: 1;
}

.dc-chart .fadeout {
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
}

.dc-chart path.dc-symbol, g.dc-legend-item.fadeout {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}

.dc-hard .number-display {
  float: none;
}

.dc-chart .box text {
  font: 10px sans-serif;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 */
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dc-chart .box line,
.dc-chart .box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.dc-chart .box rect {
  stroke: #000;
  stroke-width: 1.5px;
}

.dc-chart .box .center {
  stroke-dasharray: 3,3;
}

.dc-chart .box .outlier {
  fill: none;
  stroke: #ccc;
}

.dc-chart .box.deselected .box {
  fill: #ccc;
}

.dc-chart .box.deselected {
  opacity: .5;
}

.dc-chart .symbol{
  stroke: none;
}

.dc-chart .heatmap .box-group.deselected rect {
  stroke: none;
  fill-opacity: .5;
  fill: #ccc;
}

.dc-chart .heatmap g.axis text {
  pointer-events: all;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
p, div {
  font-family: 'Open Sans';
}

path {
  fill-opacity: 0;
}
* {
/*  box-sizing: border-box;*/
}
body.flexbox {
  display: flex;
  height: 90vh;
  flex-direction: column;
}
#flex_row {
  display: flex;
  flex-direction: row;
}
#flex_col {
  display: flex;
  flex-direction: column;
}
#left_col { 
  flex: 1;
}
#right_col { 
  flex: 0 0 250px;
/*  display: flex;*/
  flex-direction: column;
  min-height: 600px;
}
#panel3 { 
  flex: 0 0 300px;
}
#panel1 { 
  flex: 1;
}
#panel5 {
  flex: 0 0 300px;
}
#panel2 {
  flex: 0 0 700px;
}

#panel5{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      color: #e0393e;
}
#below{
  flex: 1;
  flex-direction: row;
  margin-top: 50em;
}
body{
  background-color: #f4f4f4;
}

p{
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;   
}

#panel5 h1, #panel3 h1 { margin-top: 0px; line-height: 90%;}

#panel1 li { font-size: smaller; }
#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  margin-bottom: 0px;
}

.chart .grid-line { opacity: 0.2; }
.chart#evolution-month-chart {
  width: 1000px;
  height: 300px;
}

.chart#evolution-chart {
  width: 1000px;
  height: 300px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 260px;
}

#panel2-part1{
    border-radius: 5px;  
    border: 1px solid #D8D8D8;
    background: white;
    width: 1110px;
    height: 585px;
    margin-bottom: 0.5em;
    box-shadow: 0.1px 0.1px 3px 1px #D8D8D8;
}

#no-members-chart {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  padding: 5px;
  border-radius: 5px;  
  border: 1px solid #D8D8D8;
  background: white;
  height: 120px;
  width: 240px;
  color: #e0393e;
  margin-bottom: 0.5em;
  box-shadow: 0.1px 0.1px 3px 1px #D8D8D8;
}

#no-events-chart {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  padding: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;  
  background: white;
  height: 120px;
  width: 240px;
  color: #e0393e;
  margin-bottom: 0.5em;
  box-shadow: 0.1px 0.1px 3px 1px #D8D8D8;

}
#categories-year-chart {
  height: 237px;
}
#categories-chart text {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  padding: 5px;
  font-size: 11px;
  fill: black;
}

#categories-chart{
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #D8D8D8;
  background: white;
  height: 400px;
  width: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #e0393e;
  margin-bottom: 0.5em;
  box-shadow: 0.1px 0.1px 3px 1px #D8D8D8;
}

#categories-year-chart{
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  margin: 5px;
}

#evolution-year-chart{
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  height: 312px;
  margin: 5px;
}

#date-created-chart {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  border-radius: 5px;
  padding: 5px;
  border: 1.5px solid #D8D8D8;
  background: white;
  height: 110px;
  width: 1100px;
  color: #e0393e;
  box-shadow: 0.1px 0.1px 3px 1px #D8D8D8;
}

.list {
  line-height: 1.5em;
}

#groups-list div {
}

#groups-headers {
  font-weight: bold;
}
#groups-list a { text-decoration: none; }
#groups-list a:hover { text-decoration: underline; }

.list .date,
.list .day {
  margin-bottom: .4em;
}

.list .group {
  margin-bottom: 1px;
}

.list .name {
  color: #000;
}
#groups-list  {
  color: #999;
}

.list .group div {
  display: inline-block;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.list .group div.name {
  width: 300px;
}

.list div.distance,
.list div.no-member {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

.list .early {
  color: green;
}

aside {
  margin: 30px;
}
h1 { width: 100% }

#status { 
  color: #ddd; 
  font-size: 14px; 
  font-weight: normal; 
}

#table-holder {
  padding: 5px;
  background-color: white;
  width: 1405px;
  height: 18000px;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  box-shadow: 0.1px 0.1px 3px 1px #D8D8D8;
  flex: 1;
}
#table-holder strong {
  color: #e0393e;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.dc-data-table { 
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  width: 100%;
  font-size: 14px; 
  text-align:left;  
}
td._6, td._8, th {  white-space: nowrap; }
td._1 {  text-align: center; }
td._4, td._5, td._7 {  text-align: right; }
td + td, th + th { border-left: 1px #ddd solid; border-width: 1px; }
th, td { padding-left: 10px; padding-right: 10px; }

tr:hover { background-color: #ddd; }
tr:hover { opacity: 0.9; }
tr:hover td { border-color: white;}




/*Whitney,helvetica,arial,sans-serif;*/
