/* for fixed navbar: margins and paddings */

body {
  margin-top: 0;
  padding-top: 0;
}

.navbar {
  margin-bottom: 20px;
  background-image: None;
  background-color: white;
}

.main.container {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 40px;
  border: 1px #DDD solid;
  border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
  }
p, div {
  font-family: 'Open Sans';
}

.drawer-button {
  background-color: white;
  border: 1px #ddd solid;
  padding: 5px;
  padding-top: 5px;
  text-decoration:none;
}
.drawer-right .drawer-controls{
  margin-left:-60px;
}
