{% extends "layout.html" %}
{% block body %}
<h1>{{ title }}</h1>

  <p>This prototype was
  created as part of <a href="http://fellinlovewithdata.com/">Enrico Bertinis</a> 2015 Course
  <a href="http://catalog.poly.edu/preview_course_nopop.php?catoid=9&coid=25004">Information 
  Visualisation</a> at <a href="http://engineering.nyu.edu/">NYU Poly</a></p>

  <p>We use d3, flask, postgres to visualize data from a dump
  downloaded from meetup.coms <a href="http://www.meetup.com/meetup_api/">API</a>.</p>

  <p>A project by B., O. and L.. Advisors A. and Enrico Bertini.</p>

  <p>Fork our code <a href="https://github.com/bjelline/">on github</a></p>
{% endblock %}
