<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evolution of Meetup Groups: {{ title }}</title>
    <meta name="mobile-web-app-capable" content="yes">
    <!-- We are using all the libraries from cloud, see https://cdnjs.com/ -->
  </head>
  <body class="has-drawer flexbox">
    {% block body %}{% endblock %}
    <!-- We are using jquery and Twitter Bootstrap javascript in the cloud, see http://getbootstrap.com/getting-started/ -->
    {% block javascript %}{% endblock %}
  </body>
</html>
