{% extends "layout.html" %}
{% block body %}
  <h1>List <small>of meetup groups</small></h1>

  <table class="table">
    <tr>
      <th>Created</th>
      <th>Name</th>
      <th>Join mode</th>
      <th>Number of Members</th>
      <th>Max Attendees at one Event</th>
      <th>Total distinct Attendees</th>
      <th>History</th>
    </tr>
  {% for g in groups %} 
    <tr>
      <td>
        {% if g["created"] != None  %}
          {{ g["created"].strftime('%Y') }}
        {% endif %}
      </td>
      <td>
        <a href="/events/?id_group={{ group['id_group'] }}">
          {% if group["name"] == None %}
          {{ group["urlname"].decode('utf8') }}
          {% else %}
          {{ group["name"].decode('utf8') }}
          {% endif %}
        </a>
      </td>
      <td>
        {{ g["join_mode"] }}
      </td>
      <td>
        {{ g["no_members"] }}
      </td>
      <td>
        {{ g["max_yes_at_one_event"] }}
      </td>
      <td>
        {{ g["no_member_who_ever_rsvpd_yes"] }}
      </td>
      <td>
        {% if g["number_of_events"] > 0 %}
          {{  g["number_of_events"]  }} events
          {{ g["first_event_time"].strftime('%b %Y') }} to {{ g["last_event_time"].strftime('%b %Y') }}
        {% endif %}
      </td>
    </tr>
  {% endfor %} 
  </table>
  
{% endblock %}
