{% extends "flex_layout.html" %}
{% block body %}
<div id="flex_row">
  <div id="left_col">
    <div id="panel5">
      <h1>Evolution <small>of Meetup Groups </small><span id="totals">data loading</span></h1> 
      

    </div>
    <div id="panel2">
      <div id="evolution-chart" class="chart">
        <strong>Number of people who rsvped for events in this year</strong>
        <span class="reset"><span class="filter"></span></span>
        <a class="reset" href="javascript:evolutionChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
      <div id="date-created-chart" class="chart">
        <strong>Date group was created</strong>
        <span class="reset"><span class="filter"></span></span>
        <a class="reset" href="javascript:dateCreatedChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>

    </div>
    <table class="table table-hover dc-data-table">
    </table>
  </div>
  <div id="right_col">

    <div id="panel3">
      <div id="no-members-chart" class="chart">
        <strong># Attendees</strong>
        <span class="reset"><span class="filter"></span></span>
        <a class="reset" href="javascript:noMembersChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
      <div id="no-events-chart" class="chart">
        <strong># Events</strong>
        <span class="reset"><span class="filter"></span></span>
        <a class="reset" href="javascript:noEventsChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
    </div> 
    <div id="panel1">
      <div id="categories-chart" class="chart">
        <strong>Categories</strong>
        <span class="reset"><span class="filter"></span></span>
        <a class="reset" href="javascript:categoriesChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </div>
    </div>

  </div>
  </div>
  {% endblock %}
  {% block javascript %}
  <script>
    var groups, categories, groups_by_month, groups_by_year, meetup, dataByGroup, date, dates, id_group, id_groups, nestByGroup; // make global for debugging

    function handle_csv(error, g, cat, gm, gy) {
      console.log("got me some data");
      groups = g;
      colors_for_categories = cat;
      groups_by_month = gm; // gm.slice(0,100);
      groups_by_year =  gy; // gy.slice(0,100);

      // Various formatters.
      formatInt = d3.format("f");
      formatNumber = d3.format(",d");
      formatChange = d3.format("+,d");
      formatCreated = d3.time.format("%Y-%m-%d %H:%M:%S");
      formatDate = d3.time.format("%Y-%m-%d");
      formatMonth = d3.time.format("%Y, %b");
      formatYearMonth = d3.time.format("%Y-%m");
      formatYear = d3.time.format("%Y");
      formatTime = d3.time.format("%I:%M %p");

      // A nest operator, for grouping the group list.
      nestByDate  = d3.nest().key(function(d) { return d3.time.month( d.date ); });

      // A little coercion, since the CSV is untyped.
      groups_by_year.forEach(function(d, i) {
        d.id_group = +d.id_group;
        d.sum = +d.sum;
        d.time_bin = formatCreated.parse( d.time_bin );
      });
      /*
      groups_by_month.forEach(function(d, i) {
        d.index = i;
        d.time_bin = formatCreated.parse( d.time_bin );
      });
      */
      colors_for_groups = {};
      groups.forEach(function(d, i) {
        d.index = i;
        d.date = formatDate.parse( d.created.substr(0,10) );
        d.first_event_time = formatCreated.parse( d.first_event_time );
        d.last_event_time = formatCreated.parse( d.last_event_time );
        // d.id_gropu = +d.id_group;
        colors_for_groups[ d.id_group ] = colors_for_categories[ d.name_category ];
        d.no_members = +d.no_members;
        d.number_of_events = +d.number_of_events;
        d.no_member_who_ever_rsvpd_yes = +d.no_member_who_ever_rsvpd_yes;
        d.max_yes_at_one_event = +d.max_yes_at_one_event;
        d.rating = parseFloat(d.rating);
        if (d.rating == 0.0) d.rating = null;
      });
      meetup = { 'evolution': {}, 'groups': {}};
      console.log("creating crossfilter for evolution:");
      meetup.evolution.cf = crossfilter(groups_by_year.slice(1,1000));

      meetup.evolution.group_and_date_dim   = meetup.evolution.cf.dimension(function(d) { return [d.id_group, d.time_bin]; });
      meetup.evolution.group_and_date_group = meetup.evolution.group_and_date_dim.group().reduceSum(function(d) { return d.sum; })

      console.log("creating chart for evolution:");
      var evolutionChart    = dc.seriesChart('#evolution-chart');
      evolutionChart.width(1000)
      .chart(function(c) { return dc.lineChart(c).interpolate('linear').renderArea(0).renderDataPoints(1).dotRadius(5); })
      .margins({top: 10, right: 10, bottom: 30, left: 40})
      .brushOn(0)
      .dimension(meetup.evolution.group_and_date_dim)
      .group(meetup.evolution.group_and_date_group)
      .x(d3.time.scale().domain([new Date(2001, 0, 1), new Date(2015, 3, 1)]).rangeRound([0, 10 * 90]))
      .seriesAccessor(function(d) {return +d.key[0];})
      .keyAccessor(function(d) {return +d.key[1];})
      .valueAccessor(function(d) {return +d.value;})
      .on('postRender', function(chart){
        chart.selectAll("g.stack path").attr("stroke", function(d){
          var k = d.name;
          if( k in colors_for_groups ) {
            return colors_for_groups[k];
          } 
          else {
            return "#dddddd";
          }
        });
        chart.selectAll("g.stack circle").attr("fill", function(d){
          var k = d.name;
          if( k in colors_for_groups ) {
            return colors_for_groups[k];
          } 
          else {
            return "#dddddd";
          }
        })
      })

      console.log("rendering first thing");
      dc.renderAll();
      console.log("creating crossfilter for groups:");

      // Create the crossfilter for the relevant dimensions and groups.
      // var 
      meetup.groups.cf    = crossfilter(groups);

      meetup.groups.all    = meetup.groups.cf.groupAll();
      meetup.groups.id_dim = meetup.groups.cf.dimension(function(d) { return d.id_group; });

      meetup.groups.date_dim    = meetup.groups.cf.dimension(function(d) { return d.date; });
      meetup.groups.date_groups = meetup.groups.date_dim.group(d3.time.day);

      meetup.groups.hour_dim    = meetup.groups.cf.dimension(function(d) { return d.date.getHours() + d.date.getMinutes() / 60; });
      meetup.groups.hour_groups = meetup.groups.hour_dim.group(Math.floor);

      meetup.groups.no_member_dim    = meetup.groups.cf.dimension(function(d) { return d.no_member_who_ever_rsvpd_yes })
      meetup.groups.no_member_groups = meetup.groups.no_member_dim.group(function(d) { return Math.floor(d / 10) * 10; });

      meetup.groups.no_event_dim    = meetup.groups.cf.dimension(function(d) { return d.number_of_events });
      meetup.groups.no_event_groups = meetup.groups.no_event_dim.group(function(d) { return Math.floor(d / 10) * 10; });

      meetup.groups.categories_dim    = meetup.groups.cf.dimension(function(d) { return d.name_category; });
      meetup.groups.categories_groups = meetup.groups.categories_dim.group();

      console.log("creating charts for groups:");
      var noMembersChart    = dc.barChart('#no-members-chart');
      var noEventsChart     = dc.barChart('#no-events-chart');
      var dateCreatedChart  = dc.barChart('#date-created-chart');
      var categoriesChart   = dc.rowChart('#categories-chart');
      var countWidget       = dc.dataCount('#totals');
      var listOfGroups      = dc.dataTable('.dc-data-table');

      countWidget.dimension(meetup.groups.cf).group(meetup.groups.all).html({
        some: '%filter-count of %total-count meetup groups selected',
        all: 'All meetup groups selected. Click on charts to apply filters'
      });

      noMembersChart.width(230)
      .height(100)
      .margins({top: 10, right: 10, bottom: 30, left: 40})
      .dimension(meetup.groups.no_member_dim)
      .group(meetup.groups.no_member_groups)
      .xUnits(dc.units.integers) 
      .filterPrinter(function (filters) {
        var filter = filters[0];
        return "" + formatInt(filter[0]) + "-" + formatInt(filter[1]);
      })
      .x(d3.scale.linear().domain([0, 1500]).rangeRound([0, 10 * 21]));

      noMembersChart.xAxis().ticks(5);
      noMembersChart.yAxis().ticks(4);

      noEventsChart.width(230)
      .height(100)
      .margins({top: 10, right: 10, bottom: 30, left: 40})
      .dimension(meetup.groups.no_event_dim)
      .group(meetup.groups.no_event_groups)
      .xUnits(dc.units.integers) 
      .gap(1)
      .filterPrinter(function (filters) {
        var filter = filters[0];
        return "" + formatInt(filter[0]) + "-" + formatInt(filter[1]);
      })
      .x(d3.scale.linear().domain([1, 200]).rangeRound([0, 10 * 20]));
      noEventsChart.xAxis().ticks(5);
      noEventsChart.yAxis().ticks(4);

      categoriesChart
      .dimension(meetup.groups.categories_dim)
      .group(meetup.groups.categories_groups)
      .ordering(function(d){ return -d.value })
      .width(230)
      .height(1000)
      .margins({top: 10, right: 10, bottom: 30, left: 40})
      .height(1000)
      .label(function (d) {
        return d.key + " (" + d.value + ")";
      })
      .title(function (d) {
        return d.value;
      })
      .on('postRender', function(chart){
        chart.selectAll("g.row rect").attr("fill", function(d){
          var k = d.key;
          if( k in colors_for_categories ) {
            return colors_for_categories[k];
          } 
          else {
            return "#dddddd";
          }
        })
      })
      .elasticX(true)
      .xAxis().ticks(4);

      dateCreatedChart.width(1000)
      .dimension(meetup.groups.date_dim)
      .margins({top: 10, right: 10, bottom: 30, left: 40})
      .height(100)
      .group(meetup.groups.date_groups)
      .round(d3.time.day.round)
      .filterPrinter(function (filters) {
        var filter = filters[0];
        return "" + formatDate(filter[0]) + " to " + formatDate(filter[1]);
      })
      .x(d3.time.scale()
      .domain([new Date(2001, 0, 1), new Date(2015, 3, 1)])
      .rangeRound([0, 10 * 90]));

      listOfGroups.dimension(meetup.groups.date_dim)
      .group(function (d) { return d.date.getFullYear(); })
      .columns([
            'name',    
            'created',    
            'join_mode',    
            'max_yes_at_one_event',    
            'no_member_who_ever_rsvpd_yes',  
            'first_event_time',
            'no_events',
            'last_event_time'
      ])



      console.log("rendering all");
      dc.renderAll();

    }
    console.log("start loading data");
    queue()
    .defer(d3.csv,   "/static/groups.csv")
    .defer(d3.json,  "/static/categories-colors.json")
    .defer(d3.csv,   "/static/group-evolution-by-month.csv")
    .defer(d3.csv,   "/static/group-evolution-by-year.csv")
    .await(handle_csv);
  </script>

  {% endblock %}
