{% extends "layout.html" %}
{% block body %}
<style type="text/css">
    .red { fill: red; }
    .blue { fill: blue; }
    .lineChart {
            stroke: steelblue;
            stroke-width: 1.5px;
            fill: none;
    }
    .axis path,
    .axis line {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
    }
    .label {
            stroke: #777;
            fontStyle: italic;
            shape-rendering: crispEdges;  
            stroke-width:0.7px;
            font-size: large;
    }
    ul.checkbox-grid { padding: 0 }
    .checkbox-grid li {
      display: block;
      float: left;
      border: 1px transparent solid; 
      shape-rendering: crispEdges;
      width: 33%;
    }
    .jumbotron { 
      margin-top:24px;
      min-height: 144px; 
    }
    #panel1 { font-size: smaller; }
    #panel3 {
      margin: 24px 24px;
    }
</style>


<h1>{{ title }}</h1>

<div class="row">
  <div class="col-md-6" id="panel1">
    <!--
    <p> Select the type of aggregation for the Timeseries plot:
    <ul class="checkbox-grid">
    <li><input type="radio" value="year" class="timeseries_button"  id="year" name="time" checked> By Year </li>
    <li><input type="radio" value="month" class="timeseries_button"  id="month" name="time" checked> By Month </li>
    <li><input type="radio" value="year/month" class="timeseries_button"  id="year/month" name="time" checked> By Year/Month </li>
    <li><input type="radio" value="week" class="timeseries_button"  id="week" name="time" checked> By Week </li>
    </ul>
    --> 
    <p>Select one of the following categories:</p>
    <!--Adding all categories for selection-->
    <ul class="checkbox-grid">
      <li><input type="checkbox" value="Tech" class="category_button"  id="tech" name="#a6cee3"> Tech</li>
      <li><input type="checkbox" value="Women" class="category_button" id="women" name = "#1f78b4"> Women</li>
      <li><input type="checkbox" value="Alternative lifesyle" class="category_button" id="alternative lifestyle" name = "#b2df8a"> Alternative lifesyle</li>
      <li><input type="checkbox" value="Career/Business" class="category_button" id="career/business" name = "#33a02c"> Career/Business</li>
      <li><input type="checkbox" value="Cars/Motorcycles" class="category_button" id="cars/motorcycles" name = "#fb9a99"> Cars/Motorcycles</li>
      <li><input type="checkbox" value="Community/Environment" class="category_button" id="community/environment" name = "#e31a1c"> Community/Environment </li>
      <li><input type="checkbox" value="dancing" class="category_button" id="dancing" name = "#fdbf6f"> Dancing </li>
      <li><input type="checkbox" value="Education/Learning" class="category_button" id="education/learning" name = "#ff7f00"> Education/Learning </li>
      <li><input type="checkbox" value="Fashion/Beauty" class="category_button" id="fashion/beauty" name = "#cab2d6"> Fashion/Beauty </li>
      <li><input type="checkbox" value="Fine Arts/Culture" class="category_button" id="fine arts/culture" name = "#6a3d9a"> Fine Arts/Culture</li>
      <li><input type="checkbox" value="Fitness" class="category_button" id="fitness" name = "#ffff99"> Fitness </li>
      <li><input type="checkbox" value="Food/Drink" class="category_button" id="food/drink" name = "#b15928"> Food/Drink </li>
      <li><input type="checkbox" value="Games" class="category_button" id="games" name = "#8dd3c7"> Games </li>
      <li><input type="checkbox" value="Health/Wellbeing" class="category_button" id="health/wellbeing" name = "#ffffb3"> Health/Wellbeing </li>
      <li><input type="checkbox" value="Hobbies/Crafts" class="category_button" id="hobbies/crafts" name = "#bebada"> Hobbies/Crafts </li>
      <li><input type="checkbox" value="Language/Ethnic Identity" class="category_button" id="language/Ethnic identity" name = "#cab2d6"> Language/Ethnic Identity </li>
      <li><input type="checkbox" value="LGBT" class="category_button" id="LGBT" name = "#fb8072"> LGBT </li>
      <li><input type="checkbox" value="Literature/Writing" class="category_button" id="literature/writing" name = "#80b1d3"> Literature/Writing </li>
      <li><input type="checkbox" value="Movements/Politics" class="category_button" id="movements/politics" name = "#fdb462"> Movements/Politics </li>
      <li><input type="checkbox" value="Movies/Film" class="category_button" id="movies/film" name = "#b3de69 "> Movies/Film </li>
      <li><input type="checkbox" value="Music" class="category_button" id="music" name = "#fccde5"> Music </li>
      <li><input type="checkbox" value="New Age/Spirituality" class="category_button" id="new age/spirituality" name = "#d9d9d9 "> New Age/Spirituality </li>
      <li><input type="checkbox" value="Outdoors/Adventure" class="category_button" id="outdoors/adventure" name = "#bc80bd"> Outdoors/Adventure </li>
      <li><input type="checkbox" value="Paranormal" class="category_button" id="paranormal" name = "#ccebc5"> Paranormal </li>
      <li><input type="checkbox" value="Parents/Family" class="category_button" id="parents/family" name = "#ffed6fs"> Parents/Family </li>
      <li><input type="checkbox" value="Pets/Animals" class="category_button" id="pets/animals" name = "#bf812d"> Pets/Animals </li>
      <li><input type="checkbox" value="Photography" class="category_button" id="photography" name = "#f6e8c3"> Photography </li>
      <li><input type="checkbox" value="Religion/Beliefs" class="category_button" id="religion/beliefs" name = "#c51b7d"> Religion/Beliefs </li>
      <li><input type="checkbox" value="Sci-Fi/Fantasy" class="category_button" id="sci-fi/fantasy" name = "#f1b6da"> Sci-Fi/Fantasy </li>
      <li><input type="checkbox" value="Singles" class="category_button" id="singles" name = "#e6f598"> Singles </li>
      <li><input type="checkbox" value="Socializing" class="category_button" id="socializing" name = "#01665e"> Socializing </li>
      <li><input type="checkbox" value="Sports/Recreation" class="category_button" id="sports/recreation" name = "#80cdc1"> Sports/Recreation </li>
      <li><input type="checkbox" value="Support" class="category_button" id="support" name = "#3288bd"> Support </li>
      <li><input type="checkbox" value="All" class="category_button" id="*" name = 'steelblue'> All </li>
      <li><input type="checkbox" value="None" class="category_button" id="" name = 'white'> None </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div id="panel3">
      <form class="form-inline">
        <div class="input-group tags col-xs-3">
          <input type="text" class="form-control" placeholder="Tags" name="filter_tags" id="filter_tags">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        <div class="input-group ratings col-xs-4">
          Ratings:<br>
          <img src="{{ url_for('static', filename='brush.png') }}">
        </div>
        <div class="input-group groupsize col-xs-4">
          Group Size:<br>
          <img src="{{ url_for('static', filename='brush.png') }}">
        </div>
      </form>
    </div>
    <div id="panel4" class="jumbotron">
      <div class="col-xs-4">
        Total number of Members: 334
      </div>
      <div class="col-xs-4">
        Total number of Groups: 334
      </div>
      <div class="col-xs-4">
        Total number of Events: 334
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6" id="panel2">

  </div>
  <div class="col-md-6" id="panel5">
    <div id="map" style="width:550px; height:450px;"></div>
  </div>
</div>

{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
