{% extends "flex_layout.html" %}
{% block body %}
<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu';
  }
  p, div {
    font-family: 'Open Sans';
  }
  * {
    box-sizing: border-box;
    }
    body.flexbox {
      display: flex;
      height: 90vh;
      flex-direction: column;
    }
    #flex_row {
      display: flex;
      flex-direction: row;
    }
    #left_col { 
      flex: 1;
    }
    #right_col { 
      flex: 0 0 250px;
      display: flex;
      flex-direction: column;
      min-height: 600px;
    }
    #panel3 { 
      flex: 0 0 300px;
    }
    #panel1 { 
      flex: 1;
    }
    #panel5 {
      flex: 0 0 300px;
    }
    #panel2 {
      flex: 1;
    }

    #panel5 h1, #panel3 h1 { margin-top: 0px; line-height: 90%;}

    #panel1 li { font-size: smaller; }
  #charts {
    padding: 10px 0;
  }

  .chart {
    display: inline-block;
    height: 131px;
    margin-bottom: 20px;
  }
  .chart#evolution-chart {
    height: 431px;
  }

  .reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
  }

  .background.bar {
    fill: #ccc;
  }

  .foreground.bar {
    fill: steelblue;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
  }

  .brush .resize path {
    fill: #eee;
    stroke: #666;
  }

  #hour-chart {
    width: 260px;
  }

  #no-members-chart {
    width: 230px;
  }

  #distance-chart {
    width: 420px;
  }

  #date-chart {
    width: 920px;
  }


  .list {
    line-height: 1.5em;
  }

  #groups-list div {
  }

  #groups-headers {
    font-weight: bold;
  }
  #groups-list a { text-decoration: none; }
  #groups-list a:hover { text-decoration: underline; }

  .list .date,
  .list .day {
    margin-bottom: .4em;
  }

  .list .group {
    margin-bottom: 1px;
  }

  .list .name {
    color: #000;
  }
  #groups-list  {
    color: #999;
  }

  .list .group div {
    display: inline-block;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
  }
  .list .group div.name {
    width: 300px;
  }

  .list div.distance,
  .list div.no-member {
    width: 160px;
    padding-right: 10px;
    text-align: right;
  }

  .list .early {
    color: green;
  }

  aside {
    margin: 30px;
  }

</style>
<div id="flex_row">
  <div id="left_col">
    <div id="panel5">
      <h1>Evolution <small id="totals">of Meetup Groups - 
      <span id="active">-</span> of <span id="total">-</span> groups selected.</small></h1>

    </div>
    <div id="panel2">
      <div id="evolution-chart" class="chart">
        <div class="title">Number of people who rsvped for events in this time bin</div>
      </div>
      <div id="date-chart" class="chart">
        <div class="title">Date group was created</div>
      </div>

    </div>
      <div id="lists">
        <div id="groups-headers" class="list">
          <div class="date">
            <div class="month">Month group was founded</div>
            <div class="group">
              <div class="name">Group Name</div>
              <div class="rating">Avg. Rating</div>
              <div class="join_mode">Join Mode</div>
              <div class="no_members">Nominal Number of Members</div>
              <div class="max_yes_at_one_event">Max Attendees at one Event</div>
              <div class="no_member_who_ever_rsvpd_yes">Overall Unique Attendees</div>
              <div class="first_event_time">First Event</div>
              <div class="no_events">Number of Events</div>
              <div class="last_event_time">Last Event</div>
            </div>
          </div>
        </div>
        <div id="groups-list" class="list"></div>
      </div>
  </div>
  <div id="right_col">

    <div id="panel3">
      <div id="no-members-chart" class="chart">
        <div class="title">Number of Attendees</div>
      </div>
      <div id="no-events-chart" class="chart">
        <div class="title">Number of Events</div>
      </div>
    </div> 
    <div id="panel1">
      <p>Categories</p>
      <!--Adding all categories for selection-->
      <ul>
        <li><input type="checkbox" value="Tech" class="category_button"  id="tech" name="#a6cee3"> Tech</li>
        <li><input type="checkbox" value="Women" class="category_button" id="women" name = "#1f78b4"> Women</li>
        <li><input type="checkbox" value="Alternative lifesyle" class="category_button" id="alternative lifestyle" name = "#b2df8a"> Alternative lifesyle</li>
        <li><input type="checkbox" value="Career/Business" class="category_button" id="career/business" name = "#33a02c"> Career/Business</li>
        <li><input type="checkbox" value="Cars/Motorcycles" class="category_button" id="cars/motorcycles" name = "#fb9a99"> Cars/Motorcycles</li>
        <li><input type="checkbox" value="Community/Environment" class="category_button" id="community/environment" name = "#e31a1c"> Community/Environment </li>
        <li><input type="checkbox" value="dancing" class="category_button" id="dancing" name = "#fdbf6f"> Dancing </li>
        <li><input type="checkbox" value="Education/Learning" class="category_button" id="education/learning" name = "#ff7f00"> Education/Learning </li>
        <li><input type="checkbox" value="Fashion/Beauty" class="category_button" id="fashion/beauty" name = "#cab2d6"> Fashion/Beauty </li>
        <li><input type="checkbox" value="Fine Arts/Culture" class="category_button" id="fine arts/culture" name = "#6a3d9a"> Fine Arts/Culture</li>
        <li><input type="checkbox" value="Fitness" class="category_button" id="fitness" name = "#ffff99"> Fitness </li>
        <li><input type="checkbox" value="Food/Drink" class="category_button" id="food/drink" name = "#b15928"> Food/Drink </li>
        <li><input type="checkbox" value="Games" class="category_button" id="games" name = "#8dd3c7"> Games </li>
        <li><input type="checkbox" value="Health/Wellbeing" class="category_button" id="health/wellbeing" name = "#ffffb3"> Health/Wellbeing </li>
        <li><input type="checkbox" value="Hobbies/Crafts" class="category_button" id="hobbies/crafts" name = "#bebada"> Hobbies/Crafts </li>
        <li><input type="checkbox" value="Language/Ethnic Identity" class="category_button" id="language/Ethnic identity" name = "#cab2d6"> Language/Ethnic Identity </li>
        <li><input type="checkbox" value="LGBT" class="category_button" id="LGBT" name = "#fb8072"> LGBT </li>
        <li><input type="checkbox" value="Literature/Writing" class="category_button" id="literature/writing" name = "#80b1d3"> Literature/Writing </li>
        <li><input type="checkbox" value="Movements/Politics" class="category_button" id="movements/politics" name = "#fdb462"> Movements/Politics </li>
        <li><input type="checkbox" value="Movies/Film" class="category_button" id="movies/film" name = "#b3de69 "> Movies/Film </li>
        <li><input type="checkbox" value="Music" class="category_button" id="music" name = "#fccde5"> Music </li>
        <li><input type="checkbox" value="New Age/Spirituality" class="category_button" id="new age/spirituality" name = "#d9d9d9 "> New Age/Spirituality </li>
        <li><input type="checkbox" value="Outdoors/Adventure" class="category_button" id="outdoors/adventure" name = "#bc80bd"> Outdoors/Adventure </li>
        <li><input type="checkbox" value="Paranormal" class="category_button" id="paranormal" name = "#ccebc5"> Paranormal </li>
        <li><input type="checkbox" value="Parents/Family" class="category_button" id="parents/family" name = "#ffed6fs"> Parents/Family </li>
        <li><input type="checkbox" value="Pets/Animals" class="category_button" id="pets/animals" name = "#bf812d"> Pets/Animals </li>
        <li><input type="checkbox" value="Photography" class="category_button" id="photography" name = "#f6e8c3"> Photography </li>
        <li><input type="checkbox" value="Religion/Beliefs" class="category_button" id="religion/beliefs" name = "#c51b7d"> Religion/Beliefs </li>
        <li><input type="checkbox" value="Sci-Fi/Fantasy" class="category_button" id="sci-fi/fantasy" name = "#f1b6da"> Sci-Fi/Fantasy </li>
        <li><input type="checkbox" value="Singles" class="category_button" id="singles" name = "#e6f598"> Singles </li>
        <li><input type="checkbox" value="Socializing" class="category_button" id="socializing" name = "#01665e"> Socializing </li>
        <li><input type="checkbox" value="Sports/Recreation" class="category_button" id="sports/recreation" name = "#80cdc1"> Sports/Recreation </li>
        <li><input type="checkbox" value="Support" class="category_button" id="support" name = "#3288bd"> Support </li>
        <li><input type="checkbox" value="All" class="category_button" id="*" name = 'steelblue'> All </li>
        <li><input type="checkbox" value="None" class="category_button" id="" name = 'white'> None </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='viz.js') }}"></script>
<script>
  var groups, group; // make global for debugging
  function viz( classname ) {
  console.log("viz() has been called");
  var formatNumber, formatChange, formatCreated, formatTime;

  function viz_handle_csv(error, g) {
  console.log("got me some csv");
  groups = g;

  // Various formatters.
  formatNumber = d3.format(",d");
  formatChange = d3.format("+,d");
  formatCreated = d3.time.format("%Y-%m-%d %H:%M:%S");
  formatDate = d3.time.format("%Y-%m-%d");
  formatMonth = d3.time.format("%Y, %b");
  formatTime = d3.time.format("%I:%M %p");

  // A nest operator, for grouping the group list.
  nestByDate = d3.nest()
  .key(function(d) { return d3.time.month( d.date ); });

  // A little coercion, since the CSV is untyped.
  groups.forEach(function(d, i) {
  d.index = i;
  d.date = formatCreated.parse( d.created );
  d.first_event_time = formatCreated.parse( d.first_event_time );
  d.last_event_time = formatCreated.parse( d.last_event_time );
  d.no_members = +d.no_members;
  d.number_of_events = +d.number_of_events;
  d.no_member_who_ever_rsvpd_yes = +d.no_member_who_ever_rsvpd_yes;
  d.max_yes_at_one_event = +d.max_yes_at_one_event;
  d.rating = parseFloat(d.rating);
  if (d.rating == 0.0) d.rating = null;
  });

  // Create the crossfilter for the relevant dimensions and groups.
  // var 
  group = crossfilter(groups);
  all = group.groupAll();
  date = group.dimension(function(d) { return d.date; });
  dates = date.group(d3.time.day);
  hour = group.dimension(function(d) { return d.date.getHours() + d.date.getMinutes() / 60; });
  hours = hour.group(Math.floor);
  rating = group.dimension(function(d) { return d.rating })
  ratings = rating.group(function(d) { return Math.floor(d * 4) / 4; });
  no_member = group.dimension(function(d) { return d.no_member_who_ever_rsvpd_yes })
  no_members = no_member.group(function(d) { return Math.floor(d / 10) * 10; });
  no_event   = group.dimension(function(d) { return d.number_of_events });
  no_events  = no_event.group(function(d) { return Math.floor(d / 10) * 10; });

  var charts = [
  evolutionChart()
  .dimension(date)
  .group(dates)
  .round(d3.time.day.round)
  .x(d3.time.scale()
  .domain([new Date(2001, 0, 1), new Date(2015, 3, 1)])
  .rangeRound([0, 10 * 90]))
  .filter([new Date(2001, 1, 1), new Date(2015, 2, 1)]),

  barChart()
  .dimension(date)
  .group(dates)
  .round(d3.time.day.round)
  .x(d3.time.scale()
  .domain([new Date(2001, 0, 1), new Date(2015, 3, 1)])
  .rangeRound([0, 10 * 90]))
  .filter([new Date(2001, 1, 1), new Date(2015, 2, 1)]),

  barChart()
  .dimension(no_member)
  .group(no_members)
  .x(d3.scale.linear().domain([0, 1500]).rangeRound([0, 10 * 21])),

  barChart()
  .dimension(no_event)
  .group(no_events)
  .x(d3.scale.linear().domain([1, 200]).rangeRound([0, 10 * 20]))
  ];

  // Given our array of charts, which we assume are in the same order as the
  // .chart elements in the DOM, bind the charts to the DOM and render them.
  // We also listen to the chart's brush events to update the display.
  var chart = d3.selectAll(".chart")
  .data(charts)
  .each(function(chart) { 
  chart.on("brush", renderAll).on("brushend", renderAll); 
  });

  // Render the initial lists.
  var list = d3.selectAll("#groups-list").data([groupList]);

  // Render the total.
  d3.selectAll("#total").text(formatNumber(group.size()));

  renderAll();

  // Renders the specified chart or list.
  function render(method) {
  d3.select(this).call(method);
  }

  // Whenever the brush moves, re-rendering everything.
  function renderAll() {
  chart.each(render);
  list.each(render);
  d3.select("#active").text(formatNumber(all.value()));
  }

  window.filter = function(filters) {
  filters.forEach(function(d, i) { charts[i].filter(d); });
  renderAll();
  };

  window.reset = function(i) {
  charts[i].filter(null);
  renderAll();
  };

  }
  console.log("done preparing viz");
  return viz_handle_csv;
  }

  handle_csv = viz('.chart');
  d3.csv("/static/groups.csv",handle_csv);
</script>

{% endblock %}
