{% extends "layout.html" %}
{% block body %}
 <head>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'
      rel='stylesheet' type='text/css'/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  <div id="map" style="width: 600px; height: 600px"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
  <script src="L.D3SvgLeaflet.min.js"></script>
  
{% endblock %}
{% block javascript %}
  
  <script>
   var map = L.map('map',{center:[40.7127, -74.0059], zoom:9});

// add an OpenStreetMap tile layer
L.tileLayer('https://{s}.tiles.mapbox.com/v3/cwhong.map-hziyh867/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


/* Initialize the SVG layer */
  map._initPathRoot()    

  /* We simply pick up the SVG from the map object */
  var svg = d3.select(map.getPanes().overlayPane).append("svg"),
    g = svg.append("g").attr("class", "leaflet-zoom-hide");
  
  d3.json("groups.geojson", function(collection) {
  var transform = d3.geo.transform({point: projectPoint}),
      path = d3.geo.path().projection(transform)
    /* Add a LatLng object to each item in the dataset */
  var feature = g.selectAll("path")
      .data(collection.features)
      .enter().append("path")
      //.style("stroke", "white")  
    .style("fill-opacity", .05) 
    .style("fill", "magenta")
    .attr("r", .1);  

  map.on("viewreset", reset);
  reset();

  // Reposition the SVG to cover the features.
  function reset() {
    var bounds = path.bounds(collection),
        topLeft = bounds[0],
        bottomRight = bounds[1];

    svg .attr("width", bottomRight[0] - topLeft[0])
        .attr("height", bottomRight[1] - topLeft[1])
        .style("left", topLeft[0] + "px")
        .style("top", topLeft[1] + "px");

    g   .attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");

    feature.attr("d", path);
  }

  // Use Leaflet to implement a D3 geometric transformation.
  function projectPoint(x, y) {
    var point = map.latLngToLayerPoint(new L.LatLng(y, x));
    this.stream.point(point.x, point.y);
  }
});
</script>

{% endblock %}




