{% extends "layout.html" %}
{% block body %}
<h1>{{ title }}</h1>

<p>Select one of the following categories:</p>

<!--Adding all categories for selection-->
<ul class="checkbox-grid">
<li><input type="checkbox" value="Tech" class="category_button"  id="tech" name="#a6cee3"> Tech</li>
<li><input type="checkbox" value="Women" class="category_button" id="women" name = "#1f78b4"> Women</li>
<li><input type="checkbox" value="Alternative lifesyle" class="category_button" id="alternative lifestyle" name = "#b2df8a"> Alternative lifesyle</li>
<li><input type="checkbox" value="Career/Business" class="category_button" id="career/business" name = "#33a02c"> Career/Business</li>
<li><input type="checkbox" value="Cars/Motorcycles" class="category_button" id="cars/motorcycles" name = "#fb9a99"> Cars/Motorcycles</li>
<li><input type="checkbox" value="Community/Environment" class="category_button" id="community/environment" name = "#e31a1c"> Community/Environment </li>
<li><input type="checkbox" value="dancing" class="category_button" id="dancing" name = "#fdbf6f"> Dancing </li>
<li><input type="checkbox" value="Education/Learning" class="category_button" id="education/learning" name = "#ff7f00"> Education/Learning </li>
<li><input type="checkbox" value="Fashion/Beauty" class="category_button" id="fashion/beauty" name = "#cab2d6"> Fashion/Beauty </li>
<li><input type="checkbox" value="Fine Arts/Culture" class="category_button" id="fine arts/culture" name = "#6a3d9a"> Fine Arts/Culture</li>
<li><input type="checkbox" value="Fitness" class="category_button" id="fitness" name = "#ffff99"> Fitness </li>
<li><input type="checkbox" value="Food/Drink" class="category_button" id="food/drink" name = "#b15928"> Food/Drink </li>
<li><input type="checkbox" value="Games" class="category_button" id="games" name = "#8dd3c7"> Games </li>
<li><input type="checkbox" value="Health/Wellbeing" class="category_button" id="health/wellbeing" name = "#ffffb3"> Health/Wellbeing </li>
<li><input type="checkbox" value="Hobbies/Crafts" class="category_button" id="hobbies/crafts" name = "#bebada"> Hobbies/Crafts </li>
<li><input type="checkbox" value="Language/Ethnic Identity" class="category_button" id="language/Ethnic identity" name = "#cab2d6"> Language/Ethnic Identity </li>
<li><input type="checkbox" value="LGBT" class="category_button" id="LGBT" name = "#fb8072"> LGBT </li>
<li><input type="checkbox" value="Literature/Writing" class="category_button" id="literature/writing" name = "#80b1d3"> Literature/Writing </li>
<li><input type="checkbox" value="Movements/Politics" class="category_button" id="movements/politics" name = "#fdb462"> Movements/Politics </li>
<li><input type="checkbox" value="Movies/Film" class="category_button" id="movies/film" name = "#b3de69 "> Movies/Film </li>
<li><input type="checkbox" value="Music" class="category_button" id="music" name = "#fccde5"> Music </li>
<li><input type="checkbox" value="New Age/Spirituality" class="category_button" id="new age/spirituality" name = "#d9d9d9 "> New Age/Spirituality </li>
<li><input type="checkbox" value="Outdoors/Adventure" class="category_button" id="outdoors/adventure" name = "#bc80bd"> Outdoors/Adventure </li>
<li><input type="checkbox" value="Paranormal" class="category_button" id="paranormal" name = "#ccebc5"> Paranormal </li>
<li><input type="checkbox" value="Parents/Family" class="category_button" id="parents/family" name = "#ffed6fs"> Parents/Family </li>
<li><input type="checkbox" value="Pets/Animals" class="category_button" id="pets/animals" name = "#fccde5"> Pets/Animals </li>
<li><input type="checkbox" value="Photography" class="category_button" id="photography" name = "#fccde5"> Photography </li>
<li><input type="checkbox" value="Religion/Beliefs" class="category_button" id="religion/beliefs" name = "#fccde5"> Religion/Beliefs </li>
<li><input type="checkbox" value="Sci-Fi/Fantasy" class="category_button" id="sci-fi/fantasy" name = "#fccde5"> Sci-Fi/Fantasy </li>
<li><input type="checkbox" value="Singles" class="category_button" id="singles" name = "#fccde5"> Singles </li>
<li><input type="checkbox" value="Socializing" class="category_button" id="socializing" name = "#fccde5"> Socializing </li>
<li><input type="checkbox" value="Sports/Recreation" class="category_button" id="sports/recreation" name = "#fccde5"> Sports/Recreation </li>
<li><input type="checkbox" value="Support" class="category_button" id="support" name = "#fccde5"> Support </li>
<li><input type="checkbox" value="All" class="category_button" id="*" name = 'black'> All </li>
<li><input type="checkbox" value="None" class="category_button" id="" name = 'white'> None </li>
</ul>
{% endblock %}

{% block javascript %}

<div id="placeholder"></div>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

        <style type="text/css">
            .red {
                    fill: red;
            }
            .blue {
                    fill: blue;
            }
            .lineChart {
                    stroke: steelblue;
                    stroke-width: 1.5px;
                    fill: none;
            }
            .axis path,
            .axis line {
                    fill: none;
                    stroke: #777;
                    shape-rendering: crispEdges;
            }
            
            .label {
                    stroke: #777;
                    fontStyle: italic;
                    shape-rendering: crispEdges;  
                    stroke-width:0.7px;
                    font-size: large;
            }
            
            .checkbox-grid li {
                display: block;
                float: left;
                border: 1px transparent solid; 
                shape-rendering: crispEdges;
                width: 20%;
            }
/*
            .axis text {
                    fill: none;
                    stroke: black;
                    shape-rendering: crispEdges;
                    font-family: sans-serif;
                    font-size: 11px;
            }
*/

        </style>



        <script type="text/javascript">
            var padding = 50;
            var svg2 = d3.select("div.main").append("svg").attr("width", 1000).attr("height", 1000);
            var color = 'black';
            // Load the line.json file
            function handle_new_json_data(error, data) {
                if(error) {
                    return console.warn(error);
                }

                // Calculate the extents of the data (i.e. min and max)
                // extents along the horizontal line
                var extentX = d3.extent(data['data'], function(d) {
                    return parseFloat(d.year);
                })
                
                // extents along the vertica line
                var extentY = d3.extent(data['data'], function(d) {
                    return parseInt(d.sum);
                })
                
                // Creating the main SVG

                // Creating the Scales
                // x scale
                var xStretch = 950
                var x = d3.scale.linear().domain(extentX).range([padding,xStretch]);
                
                // Inverted y scale
                var yStretch = 750
                var y = d3.scale.linear().domain(extentY).range([yStretch,padding]);

                
                // Creating and draw the axis
                // xAxis variable
                var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom")
                    .tickFormat(d3.format("d"));
                
                // yAxis variable
                var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");
                
                
                // Putting the axeses into the diagram by calling the variable up there (xAxis and yAxis)
                // Drawing the x-axis
                svg2.append("g")
                    .attr("class", "axis")
                    .attr("transform", "translate(0," + (yStretch) + ")")
//                    .attr("transform", "translate(0," + (yStretch + padding) + ")")
                    .call(xAxis);
                
                // Drawing the y-axis
                svg2.append("g")
                    .attr("class", "axis")
                    .attr("transform", "translate(" + padding + ",0)")
                    .call(yAxis);
                
                // Labelling x-axis
                svg2.append("text")
                    .attr("class", "label")
                    .attr("text-anchor", "end")
                    .attr("x", xStretch)
                    .attr("y", yStretch + 100)
                    .attr("y", yStretch + 50)
                    .text("Year");
                
                // Labelling the y-axis
                svg2.append("text")
                    .attr("class", "label")
                    .attr("text-anchor", "end")
                    .attr("y", padding+10)
                    .attr("x", -padding)
                    .attr("dy", ".75em")
                    .attr("transform", "rotate(-90)")
                    .text("Sum of RSVPs");
                
                // Creating a function that will nest our ID groups into; so our json file is clustered by group instead
                // of having just a list of all the information.
                var dataGroup = d3.nest()
                    .key(function(d) {
                        return d.id_group;
                    })
                    .entries(data['data']);
                
//                var color = function(d, j) {
//                            return "hsl(" + Math.random() * 360 + ",70%,50%)";
//                        }
                // Creating a path function that will load in years as the x values and rsvps as y values. 
                // This will allows the tool to know where to connect the lines
                // The interpolate function allows for curved lines
                var theLine = d3.svg.line()
                    .x(function (d, i) {
                        return x(d.year);
                    })
                    .y(function (d) {
                        return y(d.sum);
                    })
                    .interpolate("basis"); 
                
                var tooltip = d3.select("body")
                    .append("div")
                    .style("position", "absolute")
                    .style("z-index", "10")
                    .style("visibility", "hidden")
                    .text("a simple tooltip");
                
                // Creating a function that moves the selected line to the front
                d3.selection.prototype.moveToFront = function() { 
                    return this.each(function() { 
                        this.parentNode.appendChild(this); 
                        }); 
                    };

                // Creating the graph
                // Creating a colouring function
                // This function allows us to create random colours for each different group ID
                dataGroup.forEach(function(d, i) {
                    svg2.append('svg:path')
                        .attr('d', theLine(d.values))
//                        .attr('stroke', function(d, j) {
//                            return "hsl(" + Math.random() * 360 + ",70%,50%)";
//                        })
                        .attr ('stroke', color)
                        .attr('stroke-width', 2)
                        .attr('opacity', 0.35)
                        .attr('fill', 'none')
                        .on('mouseover', function(d){
                            d3.select(this)
                            .style('stroke-width', '6px')
                            .attr('opacity', 1)
                            .moveToFront();
                    })
                        .on('mouseout', function(d){
                            d3.select(this)
                            .style('stroke-width', '2px')
                            .attr('opacity', 0.35)
                            .transition()
                            .duration(750);
                    });
                });
                
            }

//            d3.json('/events/group_evolution_timeseries.json', handle_new_json_data);

//            $('.category_button').on('click', function() {
//               svg2.selectAll("*").remove();
//               console.log("make a new query looking for category " + this.id);
//                color = this.name;  
//               d3.json('/events/group_evolution_timeseries.json?category=' + this.id, handle_new_json_data); 
//            });

            $('.category_button').click(function() {
                if ($(this).is(':checked')) {
                    svg2.selectAll("*").remove();
                    console.log("make a new query looking for category " + this.id);
                    color = this.name;  
                    d3.json('/events/group_evolution_timeseries.json?category=' + this.id, handle_new_json_data);
                } else {
                    color = 'black';  
                    svg2.selectAll("*").remove();
                    d3.json('/events/group_evolution_timeseries.json', handle_new_json_data);
                }
});
</script>


  
    
{% endblock %}
